.page-header {
    margin: 0;
    padding: 0;
}

#market-image .preview {
    position: absolute;
}
#market-image .description h3 {
    margin-top: 0;
}
#market-image .media-player .modal-dialog {
    min-width: 95%;
}
#market-image .media-player .modal-body {
    max-height: 400px;
    overflow: scroll;
    width: 100%;
}
#market-image .media-player .modal-body img {
    display: block;
    max-width: 100%;
    margin: auto;
}
#market-image .media-player .modal-footer {
    text-align:left;
}
#market-image .media-player .modal-footer button {
    float: right;
}
#market-image .media-player img {
    margin-bottom: 15px;
}
#market-image .form-group {
    display: inline-block;
    margin: 0;
}
#market-image .form-group .controls {
    display: inline;
}
#market-image .form-group ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#market-image .form-group li {
    display: inline-block;
    padding-left: 0.5em;
}

#market-image .stats {
    padding: 0;
    margin: 0;
    display: inline-block;
}
#market-image .stats li {
    display: inline-block;
    margin-left: 1em;
}

#market-image tr td {
    background-color: #fff;
}

#market-image tr:nth-child(even) td:nth-child(odd), 
#market-image tr:nth-child(odd) td:nth-child(even) {
    background-color: #f9f9f9;
}

#market-image .stats {
    position: absolute;
    right: 0;
    top: 8px;
    margin-right: 1em;
}
#market-image .rank {
    display: inline-block;
    width: 2em;
    text-align: right;
    float: left;
    padding-right: 0.5em;
}
#market-image .artifact-label {
    display: inline-block;
    margin-left: 2em;
    margin-right: 13em;
    min-width: 12em;
    display: block;
}
#market-image .view {
    display: inline-block;
    width: 4em;
    text-align: center;
}
#market-image .download {
    display: inline-block;
    width: 4em;
    text-align: center;
}
#market-image .rating {
    display: inline-block;
    width: 4em;
    text-align: center;
}
#market-image td, th {
    position: relative;
}
#market-image td {
    border-left: solid 2px #666;
    border-right: solid 2px #666;
}

.debug {
    display: none;
}